html {
font-family:'ProximaNova-Light','ProximaNova-Bold', sans-serif;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}

body {
font-family:'ProximaNova-Light','ProximaNova-Bold', Raleway, sans-serif;
font-size:62.5%;
color:#434343;
-webkit-animation:fadeIn 1s .1s ease both;
-moz-animation:fadeIn 1s .1s ease both;
-ms-animation:fadeIn 1s .1s ease both;
-o-animation:fadeIn 1s .1s ease both;
animation:fadeIn 1s .1s ease both;
margin:0;
}

h1{
  font-family:'ProximaNova-Light';
  font-size: 8em;
  text-transform: uppercase;
  color:white;
}

h2{
  font-family:'ProximaNova-Bold';
  font-size: 3.7em;
  text-transform: uppercase;
  color:black;
}

h3{
  font-family:'ProximaNova-Light';
  font-size: 6em;
  color:white;
}

h5{
  font-family:'ProximaNova-Light';
  font-size: 6em;
  font-weight:bold;
  text-transform: uppercase;
  color:white;
}

#content{
    position:fixed;
    z-index:5;
    background:url('../images/buffalo_0.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}

#webdev{
    position:fixed;
    z-index:4;
    background:url('../images/Programming-Code-Javascript-Friendship.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
    width:100%;
    height:100%;
}

#admin{
    position:fixed;
    z-index:3;
    background:url('../images/hpim0817.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
    width:100%;
    height:100%;
}

#multi{
    position:fixed;
    z-index:2;
    background:url('../images/Library_1400_800.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
    width:100%;
    height:100%;
}
#photo{
    position:fixed;
    z-index:1;
    background:url('../images/859737_10200110474457504_164274984_o.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
    width:100%;
    height:100%;
}

.black-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(62, 55, 52, .8); 
}

section{
  width:100%;
  height:100%;
}

.row{
  width:100%;
  margin:0px;
}

.iam{
  margin-top:10%;
  text-align: center;

}

.iam-content{
  margin-top:5%;
  text-align:center;
}

.box{
  border:1px solid white;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  margin-bottom: 0;
  margin-top: 0;
  cursor:pointer;
}

.box:hover{
  color:#B2B2CC;
  cursor:pointer;
}

.onhover{
  display:visible;
  visibility:visible;
  overflow:visible;
}

.onhover-1{
  display:visible;
  visibility:visible;
  overflow:visible;
}

.onhover-2{
  display:visible;
  visibility:visible;
  overflow:visible;
}

.onhover:hover{
  text-decoration: none;
}

.changer{
  display:none;
  overflow:hidden;
}

.changer-1{
  display:none;
  overflow:hidden;
}

.changer-2{
  display:none;
  overflow:hidden;
}

.changer:hover{
  text-decoration: none;
}

.overlay{
    width: 100%;
    padding: 1%;
    display: none;
    z-index: 100;
}

.overlay-1{
    width: 100%;
    padding: 1%;
    display: none;
    z-index: 100;
}

.overlay-2{
    width: 100%;
    padding: 1%;
    display: none;
    z-index: 100;
}


#home{
  display:visible;
}

#dev{
  display:visible;
}

footer{
  position:fixed;
  background-color: white;
  height:6em;
  width:100%;
  z-index:10;
  bottom:0;
  display:none;
}

